
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        <a href="~/Admin/Logout">Logout</a>
        <h1>Welcome</h1>
        <br />
        <h1>Authentication Successfull....!</h1>
    </div>
</body>
</html>
